{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- navbar -->
     <nav id="navbar">

        <div class="left-nav">
            <h3>PORTFOLIO <i class="fas fa-cat" style="color: #fff; font-size: 20px;"></i></h3>
            
        </div>
        
        <div class="right-nav">
        
        <ul>
            <li><a href="home">Home <i class="fa-solid fa-house" style="color: #fff; font-size: 20px;"></i></a></li>
            <li><a href="about">About <i class="fa-solid fa-user" style="color: #fff; font-size: 20px;"></i></a></li>
            <li><a href="skills">Skills <i class="fa-solid fa-code" style="color: #fff; font-size: 20px;"></i></a></li>
            <li><a href="project">Project <i class="fa-solid fa-project-diagram" style="color: #fff; font-size: 20px;"></i></a></li>
            <li><a href="contact">Contact <i class="fa-solid fa-rocket" style="color: #fff; font-size: 20px;"></i></a></li>
        </ul>
        </div>
     </nav>


     



</body>
</html>
