@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #3df0d8;
    --white-color: #fff;
    --disabled-color: rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--white-color);
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 700;
    text-decoration: none;
}

nav a {
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.5s;
    text-decoration: none !important;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--white-color);
    display: none;
    cursor: pointer;
}

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
    padding: 8rem 9% 2rem;
}

.resume-box {
    padding-bottom: 3rem;
   
}

.resume-box,
.resume-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-box h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--main-color);
    padding-bottom: 1rem;

}

.resume-box p {
    font-size: 1.6rem;
    padding-bottom: 1.8rem;
}

.resume-box .desc {
    margin: 2rem 0 2.5rem;
}

.resume-btn {
    width: 100%;
    height: 5.3rem;
    background: var(--second-bg-color);
    border: 0.2rem solid var(--second-bg-color);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 2rem;
    border-radius: 5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.3s;
    /* margin-top: 0.5rem; */
}

.resume-btn.active {
    background-color: var(--main-color);
    color: var(--bg-color);
    border-color: var(--main-color);
}

.resume-detail {
    display: none!important;
}

.resume-detail.active {
    display: block!important;
}

.resume-detail .heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 1rem;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    max-height: 45rem;
    overflow-y: auto;
}

.resume-list::-webkit-scrollbar {
    width: 10px;
}

.resume-list::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem !important;
}

.resume-list:hover::-webkit-scrollbar-track {
    background: var(--main-color);
}

.resume-list .resume-item {
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .year {
    color: var(--main-color);
    font-size: 1.4rem;
}

.resume-item h3 {
    font-size: 2rem;
    font-weight: 600;
}

.resume-item .exp-p{
    font-size: 1.4rem; 
    line-height: 1.6; 
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem;
}

.resume-detail.skills .resume-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item {
    position: relative;
    align-items: center;
    height: auto;
}

.resume-detail.skills .resume-item i {
    font-size: 8.5rem;
    transition: 0.55s;
}

.resume-detail.skills .resume-item:hover i {
    color: var(--main-color)
}

.resume-detail.skills .resume-item span {
    position: absolute;
    top: -20%;
    background: var(--white-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
    transition: 0.2s;
}

.resume-detail.skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    transform: scale(1);
}

.resume-detail.about .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.resume-detail.about .resume-item {
    height: auto;
    padding: 0 0 0.5rem;
    background: transparent;
}

.resume-detail.about .resume-item p {
    color: var(--main-color);
    font-size: 1.6rem;
}

.resume-detail.about .resume-item p span {
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 1.6rem;
}

footer {
    background-color: #2C3E50;
    color: #ecf0f1;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left p {
    margin: 0;
    font-size: 14px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-right ul {
    margin: 0 15px;
    color: #fff !important;
}

.footer-right ul a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
}

.footer-right ul a:hover {
    color: #34dbcd;
    text-decoration: none;
}